# Python Virtual Environments & Caches
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# IDE / Editor Files
.vscode/
.idea/
*.swp
*.swo

# Database & Log Files (Optional to ignore or include)
*.log
scratch/
